<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="{{ site.author }}">
  <meta charset="utf-8">

  <link rel="stylesheet" href="/css/style.css">
</head>

<body class="layout-default">

	<header class="site-header grid grid-pad">
    <div class="col-1-1">
      <div class="content">
        <h1>
          Hi, I'm
          <strong>Alex</strong>
          and I make software
          <strong>happen</strong>.
        </h1>
      </div>
    </div>
	</header>

  <section class="intro">
    <div class="grid">
      <div class="col-1-1 column">
        <p>
          For over 13 years, as an engineer, systems architect and engineering
          lead I programmed or led teams in ecommerce platforms, banking systems,
          credit card gateways,
          advertising services (AdWords and Bing),
          geolocated carpooling/ridesharing apps
          and financial programs.
        </p>
        <p>
          I <a href="http://magazine.rubyist.net/?0043-EuRuKo2013#l15">taught Ruby</a>,
          joined the <a href="https://github.com/rails-api">Rails-API organization</a>,
          created games with Javascript,
          maintained Ember.js' <a href="https://emberjs.com/blog/2015/06/18/ember-data-1-13-released.html">jsonapi adapter</a>,
          created <a href="https://github.com/kurko/ember-sync">ember-sync</a>,
          created my own <a href="http://dinerohq.com">iOS budgeting app</a> with Swift,
          created <a href="https://vimeo.com/181331997">chatbots</a> and
          an entire <a href="http://austapp.com/">ecommerce platform</a>.
        </p>
      </div>
    </div>
  </section>

  <nav class="icons">
    <div class="grid">
      <div class="col-1-5 mobile-col-1-2 column">
        <div class="content">
          <a href="https://medium.com/@kurko">
            <div class="icon blog"></div>
            blog
          </a>
        </div>
      </div>

      <!--
      <div class="col-1-6 mobile-col-1-2 column">
        <div class="content">
          <a href="">
          <div class="icon projects"></div>
          projects
          </a>
        </div>
      </div>
      -->

      <div class="col-1-5 mobile-col-1-2 column">
        <div class="content">
          <a href="https://www.linkedin.com/in/alexandredeoliveira/">
          <div class="icon cv"></div>
          cv
          </a>
        </div>
      </div>

      <div class="col-1-5 mobile-col-1-2 column">
        <div class="content">
          <a href="https://github.com/kurko">
          <div class="icon github"></div>
          github
          </a>
        </div>
      </div>

      <div class="col-1-5 mobile-col-1-2 column">
        <div class="content">
          <a href="https://twitter.com/kurko">
          <div class="icon twitter"></div>
          twitter
          </a>
        </div>
      </div>

      <div class="col-1-5 mobile-col-1-2 column">
        <div class="content">
          <a href="mailto:chavedomundo@gmail.com">
            <div class="icon contact"></div>
            contact
          </a>
        </div>
      </div>

    </div>
  </nav>

  <section class="picture">
    <a href="https://www.flickr.com/photos/euruko2013/9364752656/in/album-72157634771808067/" />
      <img src="/images/picasso.png" width="100%" />
    </a>
  </section>

  {% if jekyll.environment == "production" %}
    {% include analytics.html %}
  {% endif %}

</body>
</html>
