<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="{{ site.author }}">
  <meta charset="utf-8">

  <link rel="stylesheet" href="/css/style.css">
</head>

<body class="layout-post">

	<header class="site-header for-articles grid grid-pad">
    <div class="col-1-12">
      <div class="content">
        <a href="/" class="back">Back</a>
      </div>
    </div>
    <div class="col-10-12">
      <div class="content">
      <h1>
        <a href="/">
          Alex
        </a>
      </h1>
      <p>Software articles</p>
      </div>
    </div>
    <div class="col-1-12">
      <div class="content">
      </div>
    </div>
	</header>

  <article>
    {{ content }}
  </article>

</body>
</html>
